name: test
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ['1.21', '1.22', '1.23']
    steps:
      - uses: actions/checkout@v4
      - name: setup go ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      - name: display go version
        run: go version
      - name: install dependencies
        run: go get .
      - name: build
        run: go build -v -o converto
      - name: test
        run: go test -v -cover ./... -race