name: test
on:
  push:
    branches:
      - main
  pull_request:

env:
  PORT: 3000
  ENVIRONMENT: test
  MONGO_URI: mongodb://localhost:27017/converto-test
  DB_NAME: converto-test
  RABBITMQ_URI: amqp://guest:guest@localhost:5672
  RABBITMQ_MANAGEMENT_URI: http://localhost:15672
  RABBITMQ_MANAGEMENT_USER: guest
  RABBITMQ_MANAGEMENT_PASSWORD: guest
  RABBITMQ_MANAGEMENT_VHOST: /

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    services:
      mongodb:
        image: mongo:3.6.8
        ports:
          - 27017:27017
        env:
          MONGO_INITDB_DATABASE: converto-test
    strategy:
      matrix:
        go-version: ['1.21', '1.22', '1.23']
    steps:
      - uses: actions/checkout@v4
      - name: setup go ${{ matrix.go-version }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      - name: display go version
        run: go version
      - name: install dependencies
        run: go get .
      - name: build
        run: go build -v -o converto
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: latest
          args: run ./...
      - name: test
        run: go test -v -cover ./test/integration -race
